/* Cài đặt chung */
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

/* Banner đỏ chứa logo và menu */
.banner {
  height: 126px;
  background-color: #b22d30; /* Màu nền đỏ */
  display: flex;
  justify-content: space-between; /* Các phần tử trong banner được phân bố đều */
  align-items: center; /* Canh giữa các phần tử theo chiều dọc */
  padding: 0 20px;
}

/* Logo nằm trong banner, ở bên trái */
#logo-container {
  display: flex;
  align-items: center; /* Căn giữa logo theo chiều dọc */
}

.logo {
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

/* Menu trái nằm ngoài logo */
.menutrai {
  display: flex;
  flex-direction: row; /* Sắp xếp các mục menu theo chiều ngang */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menutrai li {
  margin: 0 15px; /* Khoảng cách giữa các mục menu */
}

.menutrai a {
  color: white; /* Màu chữ trắng */
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease;
  font-weight: normal;
}

.menutrai a:hover {
  background-color: #5426d1;
  font-weight: bold;
}

.menutrai a:visited {
  font-weight: 700;
}

/* Tìm kiếm (nằm trong banner) */
#search {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 200px;
}

.search-btn {
  padding: 5px 15px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
}
#search-cart {
  display: flex;
  align-items: center;
  gap: 10px; /* khoảng cách giữa các phần */
}

.cart-container {
  position: relative;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
